.mainTitle {
  font-size: 90px;
}

.selectTitle {
  margin: 20px 0;
}

.items {
  display: flex;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #bbb;
}

.item:hover .title {
  display: block;
  color: #53c28b;
}

.img:hover {
  filter: grayscale(100%);
}
